.rounded-stackpane {
    -fx-background-radius: 0 0 20 0; /* Задаємо радіус завкруглення */
    -fx-background-color: #333333; /* Колір фону StackPane */
}
.rounded-pane-left {
-fx-background-radius: 0 20 20 0; /* Задаємо радіус завкруглення */
}

.jfx-button-fab {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-background-radius: 10px; /* Радіус закруглення фону */
    -fx-border-radius: 10px;
    -fx-border-radius: 50%;
    -jfx-button-type: RAISED;
    -fx-cursor: hand;
    -fx-min-height: 35px;
    -fx-pref-height: 35px;
    -fx-min-width: 150px;
    -fx-pref-width: 150px;
}

.jfx-button-tour {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-font-size: 11px;
    -fx-background-radius: 10px; /* Радіус закруглення фону */
    -fx-border-radius: 20px;
    -fx-border-radius: 50%;
    -jfx-button-type: RAISED;
    -fx-cursor: hand;
    -fx-min-height: 35px;
    -fx-pref-height: 35px;
    -fx-min-width: 70px;
    -fx-pref-width: 100px;
}
.jfx-button-main {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-background-radius: 15px; /* Радіус закруглення фону */
    -fx-border-radius: 15px;
    -fx-border-radius: 50%;
    -jfx-button-type: RAISED;
    -fx-cursor: hand;
    -fx-min-height: 40px;
    -fx-pref-height: 40px;
    -fx-min-width: 150px;
    -fx-pref-width: 150px;
}
.vbox {
    -fx-background-color: lightgray;
    -fx-background-radius: 20px;
    -fx-padding: 10px;
    -fx-spacing: 10px;
}

.jfx-text-field-material,
.jfx-password-field-material {
    -fx-text-fill: #33333;
    -fx-prompt-text-fill: #4d4d4d; /* Колір Prompt text */
    -fx-background-color: rgba(255, 255, 255, 0.5); /* Напівпрозорий фон (задайте власні значення альфа-каналу) */
    -fx-background-radius: 15px; /* Радіус закруглення фону */
    -jfx-focus-color: #4CAF50; /* Колір підсвічування при фокусу */
    -jfx-unfocus-color: #9E9E9E; /* Колір без фокусу */
    -jfx-label-float: true; /* Анімація переходу мітки наверх поля */
    -fx-min-width: 275px;
    -fx-pref-width: 275px;
}
.jfx-button-fab:hover {
    -fx-background-color: #81C784;
}

.jfx-button-fab:pressed {
    -fx-background-color: #388E3C;
}
